<%- include('includes/head', { pageTitle: 'Error' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Server Error</h1>
        <p>Unfortunately, a server error ocurred, please try again later.</p>
        <p><a href="/" class="btn">Go Home</a></p>
    </main>
<%- include('includes/footer') %>